@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --Menu-D:#393939;
  --Menu-L:#68203B;
  --Menu-Out-F:#592157;
  --Menu-Out-H:#382968;
  --Menu-Out-S:#163462;
  --Menu-Text:#ffffffed;

  --Text:#ffffff;
  --Text-Shadow:#000000;

  --BG-D:#68203B;
  --BG-L:#163462;
  --BG-S:#00000020;

  --HeaderText:#ffffff;
}

.menu-D { background-color: var(--Menu-D);  }
.menu-L { background-color: var(--Menu-L);    }

.menu-t { color: var(--Menu-Text); }  

.text-cl{ color: var(--Text);    }
.text-s { text-shadow: var(--Text-Shadow) 0px 0px 5px;    }

.bg-D   { background-color: var(--BG-D);    }
.bg-L   { background-color: var(--BG-L);    }
.bg-S   { background-color: var(--BG-S);    }

.text-header{ 
    color: var(--HeaderText); 
    text-shadow: 2px 2px 2px #000000;  
}

.font-kc-bold {
    font-family: "kc", sans-serif;
    font-weight: bold;
}

.font-kc-regular {
    font-family: "kc", sans-serif;
}

.font-kl-regular{
    font-family: "kl", sans-serif;
}

.font-lm-bold{
  font-family: "lm", sans-serif;
}

.text-upright {
    writing-mode: vertical-lr;
    text-shadow: 2px 2px 2px #000000;  
    text-orientation: upright;
    height: 16vh;
    width: auto;
    size: 16vh;
    transition-timing-function: ease-in;
    transition-duration: 50ms;
}

.menu-text{
    font-size: 1.8vh;
}

.background-Header {
    background-image: url("img/HeaderImage.png");
    background-size: cover;
    background-position: center;
}

.headerName:hover{
  margin-top: 1.5vh;
  transition: filter 10ms;
  transition: margin 200ms;
  filter: sepia(100%) saturate(500%) brightness(90%) hue-rotate(var(--Hue));
}

.background-About{
    background-image: url("img/AboutImage.png");
    background-size: cover;
    background-position: center;
}

.background-Projects{
    background-image: url("img/ProjectsImage.png");
    background-size: cover;
    background-position: center;
}

.menu-item-block:hover .text-upright {
    writing-mode: horizontal-tb;
    line-height: 16vh;
    font-size:x-large;
    transition-timing-function: ease-out;
    transition-duration: 400ms;
}

:target {
background-color: var(--Menu-Out-F);
}

.menu-item-block:hover .full-expand {
    background-color: var(--Menu-Out-F);
    width: 13vw;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.menu-item-block:hover .half-expand {
    background-color: var(--Menu-Out-H);
    width: 11vw;
    transition-timing-function: ease-out;
    transition-duration: 400ms;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.menu-item-block:hover .small-expand {
    background-color: var(--Menu-Out-S);
    width: 9vw;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.selected{
  width: 4rem;
  transition-duration: 200ms;
}

.target:target .small-expand {
    background-color: #ffffff;
    width: 4vw;

}

.menu-shadow-block{
    width: 0px;
    transition-duration: 400ms;
}
.menu-item-block:hover .menu-shadow-block{
    width: 24px;
    background-color: var(--Menu-Out-F);
    transition-duration: 400ms;
}



.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  .swing-in-bottom-bck {
	-webkit-animation: swing-in-bottom-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) 150ms both;
	        animation: swing-in-bottom-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) 150ms both;
}

@-webkit-keyframes swing-in-bottom-bck {
    0% {
      -webkit-transform: rotateX(-70deg);
              transform: rotateX(-70deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  @keyframes swing-in-bottom-bck {
    0% {
      -webkit-transform: rotateX(-70deg);
              transform: rotateX(-70deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  
  